{% include "header.html" %}

				<!-- Main -->
                <div id="main">
						<div class="inner">
							<header>
								<h1>Levels
								</h1>
								<p> </p>
							</header>
							<p>We are a group of students from RVCE who designed this website to improve the library management system at Humanity NGO.
							<br>
							We have designed this website with the following features:<i>
							<br>1)Sign in as a Volunteer<br>
							2)Add new students<br>
							3)Assign new books to students based on their age and level<br>
									4)Volunteers can custom make a test for evaluation of the students' learning.<br>
							5)Correct student answers using NLP model.<br>
							6)Keep track of student progress using a leaderboard and database.
							7)Send email notifications to the volunteer if the student has exceeded the return due date of the book.<br>
									8)Inverse recommendation of books of different genres.
							</i>
							</p>
<!--							<section class="tiles">-->
<!--								<article class="style1">-->
<!--									<span class="image">-->
<!--										<img  width="200" height="300" src="static/images/pic04.jpg" alt="" />-->
<!--									</span>-->
<!--									<a href="generic.html">-->
<!--										<h2>Level1</h2>-->
<!--										<div class="content">-->
<!--											</div>-->
<!--									</a>-->
<!--								</article>-->
<!--								<article class="style2">-->
<!--									<span class="image">-->
<!--										<img  width="200" height="300" src="static/images/pic05.jpg" alt="" />-->
<!--									</span>-->
<!--									<a href="generic.html">-->
<!--										<h2>Level2</h2>-->
<!--										<div class="content">-->

<!--										</div>-->
<!--									</a>-->
<!--								</article>-->
<!--								<article class="style3">-->
<!--									<span class="image">-->
<!--										<img  width="200" height="300"  src="static/images/pic06.jpg" alt="" />-->
<!--									</span>-->
<!--									<a href="generic.html">-->
<!--										<h2>Level3</h2>-->
<!--										<div class="content">-->

<!--										</div>-->
<!--									</a>-->
<!--								</article>-->
<!--								</section>-->
						</div>
					</div>


				<!-- Footer -->


{% include "footer.html" %}