{% include "header.html" %}

				<!-- Main -->
                <div id="main">
						<div class="inner">
							<header>
								<h1>Levels
								</h1>
								<p> </p>
							</header>
							<section class="tiles">
								<article class="style1">
									<span class="image">
										<img  width="200" height="300" src="static/images/1.gif" alt="" />
									</span>
									<a href="{{ url_for('level1') }}">
										<h2>Level1</h2>
										<div class="content">
											</div>
									</a>
								</article>
								<article class="style2">
									<span class="image">
										<img  width="200" height="300" src="static/images/2.gif" alt="" />
									</span>
									<a href="{{ url_for('level2') }}">
										<h2>Level2</h2>
										<div class="content">

										</div>
									</a>
								</article>
								<article class="style3">
									<span class="image">
										<img  width="200" height="300"  src="static/images/3.gif" alt="" />
									</span>
									<a href="{{ url_for('level3') }}">
										<h2>Level3</h2>
										<div class="content">

										</div>
									</a>
								</article>
								</section>
						</div>
					</div>


				<!-- Footer -->


{% include "footer.html" %}
