{% include "header.html" %}
<div id="main">
						<div class="inner">
							<header>
								<h1>Scan Barcode on Books
								</h1>

							</header>
                            <p>The barcode information is :</p>
                            <br>
                            <p>Type: {{ type1 }}</p>
                            <br>
                            <p>Data: {{ data1 }}</p>
                            <a href="{{ url_for('add_book', data=data1) }}" class="button">Add Book</a>

                        </div>
</div>


{% include "footer.html" %}