<!DOCTYPE HTML>
<html>
	<head>
		<title>Library Management</title>
		<meta charset="utf-8" />
		<meta name="viewport" content="width=device-width, initial-scale=1, user-scalable=no" />
		<link rel="stylesheet" href="{{ url_for('static', filename='assets/css/main.css') }}" />
		<noscript><link rel="stylesheet" href="{{ url_for('static', filename='assets/css/noscript.css') }}" /></noscript>
	</head>
	<body class="is-preload">
		<!-- Wrapper -->
			<div id="wrapper">

				<!-- Header -->
					<header id="header">
						<div class="inner">

							<!-- Nav -->
								<nav>
									<ul>
										<li><a href="#menu">Menu</a></li>
									</ul>
								</nav>

						</div>
					</header>

				<!-- Menu -->
					<nav id="menu">
						<h2>Menu</h2>
						<ul>
							<li><a href="{{ url_for('home') }}">Home</a></li>
							<li><a href="{{ url_for('about_us') }}">About</a></li>
							<li><a href="{{ url_for('leaderboard') }}">Leaderboard</a></li>
							<li><a href="{{ url_for('barcode_reader') }}">Scan Barcode on Books</a></li>
							<li><a href="{{ url_for('evaluate') }}">Evaluate</a></li>
							<li><a href="{{ url_for('login') }}">Logout</a></li>
						</ul>
					</nav>
