{% include "header.html" %}
  <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/css/bootstrap.min.css" integrity="sha384-Gn5384xqQ1aoWXA+058RXPxPg6fy4IWvTNh0E263XmFcJlSAwiGgFAW/dAiS6JXm" crossorigin="anonymous">
		<link href="https://cdn.jsdelivr.net/npm/bootstrap@5.2.0-beta1/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-0evHe/X+R7YkIZDRvuzKMRqM+OrBnVFBL6DOitfPri4tjfHxaWutUpFmBp4vmVor" crossorigin="anonymous">
<div id="main">
						<div class="inner">
							<header>
								<h1>LeaderBoard
								</h1>

							</header>


<table class="table-danger">
							<tr class="table-danger">
									<td class="table-danger"><b>Id</b></td>
									<td class="table-danger"><b>First Name</b></td>
									<td class="table-danger"><b></b>Last Name</td>
									<td class="table-danger"><b>Grade</b></td>
                                    <td class="table-danger"><b>Level</b></td>
									<td class="table-danger"><b>Points</b></td>
									<td class="table-danger"><b>Badge</b></td>




							    </tr>
							{% for student in students_top %}


								<tr class="table-danger">
									<td class="table-danger">⭐</td>

									<td class="table-danger">{{ student.first_name }}</td>
									<td class="table-danger">{{ student.last_name }}</td>
                                    <td class="table-danger">{{ student.grade }}</td>
									<td class="table-danger">{{ student.level_assigned }}</td>
									<td class="table-danger">{{ student.total_points }}</td>
									<td class="table-danger"> {{ student.badge }}</td>

							    </tr>


							{% endfor %}

						</table>
                </div>
</div>



<!-- Footer -->


<!-- Footer -->

 <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.2.0-beta1/dist/js/bootstrap.bundle.min.js" integrity="sha384-pprn3073KE6tl6bjs2QrFaJGz5/SUsLqktiwsUTF55Jfv3qYSDhgCecCxMW52nD2" crossorigin="anonymous"></script>


{% include "footer.html" %}